@{ 
    var cookie = Request.Cookies["userName"];
    var value = (cookie == null) ? "unnamed" : cookie.Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <nav>
        <div class="container">
            <div class="row ">
                <div class="col-md-3">
                    <a href=@Url.Action("Index","Home")>
                        <img class="ico" src="~/Reference/img/icon.jpg" alt="Ico" />
                        <p class="ico-title">Solver</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <ul class="menu">
                        <li class="method">
                            <a  href="#">
                            @lang.Resource.Method 
                            <i class="fa fa-angle-down"></i>
                            
                            </a>
                            <ul class="submenu" >
                                <li><a href="#">content</a></li>
                                <li><a href="#">content</a></li>
                            </ul>
                        </li>
                        <li><a href="#">@lang.Resource.Statistic</a></li>
                        <li><a href="#">@lang.Resource.About</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p class="username">
                      @value
                    </p>
                </div>
                <div class="col-md-1">
                    <p class="lang">|</p>
                </div>
            </div>
        </div>
    </nav>
    
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
