@model opSolver.OPS.Methods.Genetic.GData
@{
    ViewBag.Title = "Genetic";
    var selectedList = new List<bool> { true, false };
}

<header class="header-genetic">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title">
                @lang.Resource.method2
            </h1>
            <div class="w-100"></div>
            @using (Html.BeginForm())
            {
                <button formaction="GeneticGeneral" onclick="document.getElementById('wait').style.display = 'block'; document.getElementById('form-wait').style.display = 'none'" type="submit" class="btn btn-outline-primary btn-ops">@lang.Resource.general</button>
                <button formaction="Genetic1" onclick="document.getElementById('wait').style.display = 'block'; document.getElementById('form-wait').style.display = 'none'" type="submit" class="btn btn-outline-primary btn-ops">@lang.Resource.condition1</button>
                <button formaction="Genetic2" onclick="document.getElementById('wait').style.display = 'block'; document.getElementById('form-wait').style.display = 'none'" type="submit" class="btn btn-outline-primary btn-ops">@lang.Resource.condition2</button>
                <button formaction="Genetic3" onclick="document.getElementById('wait').style.display = 'block'; document.getElementById('form-wait').style.display = 'none'" type="submit" class="btn btn-outline-primary btn-ops">@lang.Resource.condition3</button>
                <div class="w-100"></div>
            }

            <div id="form-wait">
                @using (Html.BeginForm("Genetic","Home",FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="genetic-settings text-center">
                        @Html.EditorFor(m => m.iterations, new { htmlAttributes = new { @class = "form-control", @placeholder = "Count of generaions" } })
                        @Html.EditorFor(m => m.population, new { htmlAttributes = new { @class = "form-control", @placeholder = "Count of population" } })
                    </div>

                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>X1</th>
                                <th>X2</th>
                                <th>X3</th>
                                <th>X4</th>
                                <th>-></th>
                                <th>max</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>
                                @Html.EditorFor(m => m.kf[0][0], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[0][1], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[0][2], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[0][3], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>-></td>
                            <td>max</td>
                        </tr>

                        <thead class="thead-dark">
                            <tr>
                                <th>X1</th>
                                <th>X2</th>
                                <th>X3</th>
                                <th>X4</th>
                                <th>@lang.Resource.Sign</th>
                                <th>@lang.Resource.Result</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>
                                @Html.EditorFor(m => m.kf[1][0], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[1][1], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[1][2], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[1][3], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>>=</td>
                            <td>
                                @Html.EditorFor(m => m.kf[1][4], new { htmlAttributes = new { @type = "number" } })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.EditorFor(m => m.kf[2][0], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[2][1], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[2][2], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.kf[2][3], new { htmlAttributes = new { @type = "number" } })
                            </td>
                            <td><=</td>
                            <td>
                                @Html.EditorFor(m => m.kf[2][4], new { htmlAttributes = new { @type = "number" } })
                            </td>
                        </tr>

                    </table>



                    @Html.Hidden("Method", lang.Resource.method2)
                    <button class="btn btn-outline-primary btn-ops" type="submit">
                        @lang.Resource.submit
                    </button>

                }
            </div>
            <div class="w-100"></div>
            <div id="wait" style="display:none;">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                <div class="w-100"></div>
                <p class="section-description">
                    @lang.Resource.wait
                </p>
            </div>

        </div>
    </div>

  

    @if (Model != null)
    {
        <div class="text-center">
            <a href="#iter"><i class="fa fa-angle-double-down" style="font-size: 50px;"></i></a>
        </div>
    }
</header>

@if (Model != null)
{
    var counter = 0;
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="6">Best of generation</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>X1</th>
                            <th>X2</th>
                            <th>X3</th>
                            <th>X4</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    
                    @foreach(var i in Model.childs)
                    {
                        counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@i.First().x1</td>
                        <td>@i.First().x2</td>
                        <td>@i.First().x3</td>
                        <td>@i.First().x4</td>
                        <td>@i.First().result</td>
                    </tr>
                    }

                </table>
            </div>
        </div>
    </section>
}
